<div class="event layout_upcoming{{ classUpcoming }}">
    <span class="date">{{ date }}</span>
    <a href="{{ href }}"
       title="{{ title }} ({% if day %}{{ day }}, {% endif %}{{ date }}{% if time %}, {{ time }}{% endif %})"{{ target|raw }}>{{ link }}</a>

    {% if time %}
        <span class="time">({{ time }})</span>
    {% endif %}

    {% if editRef %}
        <span class="editlink">
            <a href="{{ editRef }}" title="{{ editTitle }}"> {{ editLabel }} </a>
        </span>
    {% endif %}
</div>
