{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}
    {{ block('info_message') }}
    {{ block('current_action') }}
    {{ block('action_list') }}
    {{ block('form_container') }}
{% endblock %}

{% block info_message %}
    {{ InfoMessage|default('')|raw }}
{% endblock %}

{% block current_action %}
    <h2>{{ 'MSC.caledit_currentActionClone'|trans({}, 'contao_default') }}</h2>

    <p class="caledit_info">
        {% if CurrentEventLink is defined and CurrentEventLink %}
            <span class="date"> {{ CurrentDate|default('') }}: </span><span
                class="title">{{ CurrentTitle|default('') }}</span>
            <span class="caledit_publishinfo"> ({{ CurrentPublishedInfo|default('') }}) </span>
        {% else %}
            <span class="caledit_publishinfo"> ({{ CurrentPublishedInfo|default('') }}) </span>
        {% endif %}
    </p>
{% endblock %}

{% block action_list %}
    {% if (deleteRef is defined and deleteRef) or (cloneRef is defined and cloneRef) or (editRef is defined and editRef) or (CurrentEventLink is defined and CurrentEventLink) %}
        <ul class="CalendarEditActionList">
            {% if CurrentEventLink is defined and CurrentEventLink %}
                <li class="viewlink"><a href="{{ CurrentEventLink }}"
                                        title="{{ CurrentTitle|default('') }}"> {{ 'MSC.caledit_viewLabel'|trans({}, 'contao_default') }} </a>
                </li>
            {% endif %}
            {% if editRef is defined and editRef %}
                <li class="editlink"><a href="{{ editRef }}"
                                        title="{{ editTitle|default('') }}"> {{ editLabel|default('') }} </a></li>
            {% endif %}
            {% if cloneRef is defined and cloneRef %}
                <li class="clonelink"><a href="{{ cloneRef }}"
                                         title="{{ cloneTitle|default('') }}"> {{ cloneLabel|default('') }} </a></li>
            {% endif %}
            {% if deleteRef is defined and deleteRef %}
                <li class="deletelink"><a href="{{ deleteRef }}"
                                          title="{{ deleteTitle|default('') }}"> {{ deleteLabel|default('') }} </a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

{% block form_container %}
    {% if fields is not defined or not fields %}
        <h2>{{ EditHeadline|default('') }}</h2>
        <p class="error">{{ FatalError|default('') }}</p>
    {% else %}
        <div class="event{{ classList|default('') }}">
            <h2>{{ 'MSC.caledit_InsertMoreDates'|trans({}, 'contao_default') }}</h2>

            {% if CloneWarning is defined and CloneWarning %}
                <p class="CalendarEditWarning"> {{ CloneWarning }} </p>
            {% endif %}

            {% if ContentWarning is defined and ContentWarning %}
                <p class="CalendarEditWarning"> {{ ContentWarning }} </p>
            {% endif %}

            {% if ImageWarning is defined and ImageWarning %}
                <p class="CalendarEditWarning"> {{ ImageWarning }} </p>
            {% endif %}

            <div class="formbody">
                {{ block('event_form') }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block event_form %}
    <form action="{{ action|default('') }}" method="post">
        <input type="hidden" name="FORM_SUBMIT" value="caledit_submit"/>
        {{ messages|default('')|raw }}
        <input type="hidden" name="REQUEST_TOKEN" value="{{ requestToken|default('') }}">

        {{ block('event_fields') }}

        {% if fields.captcha is defined and fields.captcha %}
            {{ fields.captcha.parse()|raw }}
        {% endif %}

        {{ block('submit_container') }}

        {% if fields.jumpToSelection is defined and fields.jumpToSelection %}
            {{ fields.jumpToSelection.parse()|raw }}
        {% endif %}
    </form>
{% endblock %}

{% block event_fields %}
    {% for i in 1..10 %}
        <div class="event">
            {% set startField = attribute(fields, 'start' ~ i) %}
            {% if startField %}
                {{ startField.parse()|raw }}
            {% endif %}

            {% set endField = attribute(fields, 'end' ~ i) %}
            {% if endField %}
                {{ endField.parse()|raw }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block submit_container %}
    <div class="widget">
        <input type="submit" class="submit" value="{{ submit|default('') }}"/>
    </div>
{% endblock %}
