{% block event_container %}
<div class="event layout_upcoming{{ classUpcoming }}">
    {{ block('event_content') }}
</div>
{% endblock %}

{% block event_content %}
    <p>
        {{ block('event_date') }}
        {{ block('event_title') }}
        {% if editRef %}
            {{ block('edit_link') }}
        {% endif %}
    </p>
{% endblock %}

{% block event_date %}
    <span class="date">{% if day %}{{ day }}, {% endif %}{{ date }}</span>{% if time %}, <span
        class="time">{{ time }}</span>{% endif %}
{% endblock %}

{% block event_title %}
    <span class="title">{{ title }}</span>
{% endblock %}

{% block edit_link %}
    <span class="editlink">
        <a href="{{ editRef }}" title="{{ editTitle }}"> {{ editLabel }} </a>
    </span>
{% endblock %}
