{% block event_container %}
<div class="event layout_teaser{{ classList }}">
    {{ block('event_header') }}
    {{ block('event_title') }}

    {% if time or span %}
        {{ block('event_time') }}
    {% endif %}

    {% if location %}
        {{ block('event_location') }}
    {% endif %}

    {{ block('event_teaser') }}

    {% if details %}
        {{ block('read_more') }}
    {% endif %}

    {% if editRef %}
        {{ block('edit_link') }}
    {% endif %}
</div>
{% endblock %}

{% block event_header %}
    {% if header %}
        <div class="header{{ classHeader }}">
            <span class="date">{{ firstDate }}</span>{% if firstDay %} <span class="day">
                ({{ firstDay }})</span>{% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block event_title %}
    {% if details %}
        <h2><a href="{{ href }}"
               title="{{ title }} ({% if day %}{{ day }}, {% endif %}{{ date }}{% if time %}, {{ time }}{% endif %})"{{ target|raw }}>{{ link }}</a>
        </h2>
    {% else %}
        <h2>{{ title }}</h2>
    {% endif %}
{% endblock %}

{% block event_time %}
    <p class="time">{{ time }}{{ span }}</p>
{% endblock %}

{% block event_location %}
    <p class="location">{{ locationLabel }}: {{ location }}</p>
{% endblock %}

{% block event_teaser %}
    <div class="teaser">
        {{ teaser|raw }}
    </div>
{% endblock %}

{% block read_more %}
    <p class="more"><a href="{{ href }}" title="{{ readMore }}"{{ target|raw }}>{{ more }} <span
                    class="invisible">{{ link }}</span></a></p>
{% endblock %}

{% block edit_link %}
    <p class="editlink"><a href="{{ editRef }}" title="{{ editTitle }}"> {{ editLabel }} </a></p>
{% endblock %}
