{% block event_header %}
    {% if header is defined and header %}
        <div class="header{{ classHeader|default('') }}">
            <time datetime="{{ datetime|default('') }}"
                  class="date">{{ firstDate|default('') }}</time>{% if firstDay is defined and firstDay %} <span
                    class="day">
            ({{ firstDay }})</span>{% endif %}
    </div>
{% endif %}
{% endblock %}

{% block event_container %}
    <div class="event layout_list{{ classList|default('') }}">
    {{ block('event_title') }}

        {% if (time is defined and time) or (span is defined and span) %}
        {{ block('event_time') }}
    {% endif %}

    {{ block('event_details') }}
</div>
{% endblock %}

{% block event_title %}
    <h2><a href="{{ href|default('') }}"
           title="{{ title|default('') }} ({% if day is defined and day %}{{ day }}, {% endif %}{{ date|default('') }}{% if time is defined and time %}, {{ time }}{% endif %})"{{ target|default('')|raw }}>{{ link|default('') }}</a>
    </h2>
{% endblock %}

{% block event_time %}
    <p class="time">{{ time|default('') }}{{ span|default('') }}</p>
{% endblock %}

{% block event_details %}
    <div class="ce_text block">
        {{ details|default('')|raw }}
        {% if editRef is defined and editRef %}
            {{ block('edit_link') }}
        {% endif %}
    </div>
{% endblock %}

{% block edit_link %}
    <p class="editlink"><a href="{{ editRef|default('') }}"
                           title="{{ editTitle|default('') }}"> {{ editLabel|default('') }} </a></p>
{% endblock %}
