{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}
<div class="event layout_upcoming{{ classUpcoming }}">
    <span class="date">{{ date }}</span>
    <a href="{{ href }}"
       title="{{ title }} ({% if day %}{{ day }}, {% endif %}{{ date }}{% if time %}, {{ time }}{% endif %})"{{ target|raw }}>{{ link }}</a>

    {% if time %}
        <span class="time">({{ time }})</span>
    {% endif %}

    {% if editRef is defined and editRef %}
        <span class="editlink">
            <a href="{{ editRef }}" title="{{ editTitle|default('') }}"> {{ editLabel|default('') }} </a>
        </span>
    {% endif %}
</div>
{% endblock %}