{% block captcha_row %}
<tr>
    {{ block('captcha_label') }}
    {{ block('captcha_widget') }}
    {{ block('captcha_hp') }}
</tr>

    {{ block('captcha_hidden') }}
{% endblock %}

{% block captcha_label %}
    <td class="label">
        {{ self.generateQuestion()|raw }}
        <span class="mandatory">*</span>
    </td>
{% endblock %}

{% block captcha_widget %}
    <td class="value">
        {{ self.generateWithError()|raw }}
    </td>
{% endblock %}

{% block captcha_hp %}
    {% if not self.hasErrors() %}
        <td style="display:none">
            <label for="ctrl_{{ id }}_hp">Do not fill in this field</label>
            <input type="text" name="{{ name }}_name" id="ctrl_{{ id }}_hp" value="">
        </td>
        <script>
            document.getElementById('ctrl_{{ id }}').parentNode.parentNode.style.display = 'none';
            document.getElementById('ctrl_{{ id }}').value = '{{ arrCaptcha.sum }}';
        </script>
    {% endif %}
{% endblock %}

{% block captcha_hidden %}
    <input type="hidden" name="{{ name }}_hash" value="{{ arrCaptcha.hashes[0] }}">
{% endblock %}
