{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}
    {{ block('edit_links_container') }}
{% endblock %}

{% block edit_links_container %}
    {% if editRef is defined and editRef %}
        {{ block('edit_links_list') }}
    {% else %}
        {{ block('error_message') }}
    {% endif %}
{% endblock %}

{% block edit_links_list %}
    <ul class="editlinks">
        {{ block('edit_link_item') }}
        {% if cloneRef is defined and cloneRef %}
            {{ block('clone_link_item') }}
        {% endif %}
        {% if deleteRef is defined and deleteRef %}
            {{ block('delete_link_item') }}
        {% endif %}
    </ul>
{% endblock %}

{% block edit_link_item %}
    <li class="editlink">
        <a href="{{ editRef|default('') }}" title="{{ editTitle|default('') }}"> {{ editLabel|default('') }} </a>
    </li>
{% endblock %}

{% block clone_link_item %}
    <li class="clonelink">
        <a href="{{ cloneRef|default('') }}" title="{{ cloneTitle|default('') }}"> {{ cloneLabel|default('') }} </a>
    </li>
{% endblock %}

{% block delete_link_item %}
    <li class="deletelink">
        <a href="{{ deleteRef|default('') }}" title="{{ deleteTitle|default('') }}"> {{ deleteLabel|default('') }} </a>
    </li>
{% endblock %}

{% block error_message %}
    <p class="error">{{ error|default('') }}</p>
{% endblock %}
