<div class="event layout_upcoming{{ classUpcoming }}">
    <p>
        <span class="date">{% if day %}{{ day }}, {% endif %}{{ date }}</span>{% if time %}, <span
                class="time">{{ time }}</span>{% endif %} <span class="title">{{ title }}</span>
        {% if editRef is defined and editRef %}
            <span class="editlink">
                <a href="{{ editRef }}" title="{{ editTitle|default('') }}"> {{ editLabel|default('') }} </a>
            </span>
        {% endif %}
    </p>
</div>
